* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text {
    font-size: 3rem;
    font-weight: bold;
}

button {
    margin: 20px;
    padding: 10px;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 1rem;
}